<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Типо вывод покемонов</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Покемон - {{pokemonName}}</h1>
  <table border="1" cellpadding = "5" cellspacing="5"> 
  <td> Способности </td>
  <td> Ссылка </td>
  <td> Фото </td>
      {%for pok in response.abilities %}
          <tr>
            <td>{{pok.ability.name}}</td>
            <td>{{pok.ability.url}}</td>
      {%endfor%}
      <td> <img src = "{{ response.sprites.front_default }}" ></td>
      </tr>
      
  </table>

</body>
</html>